<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<!-- bean配置 -->
	<!-- Dao -->
	<bean id="userDao" class="com.tang.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="taskDao" class="com.tang.dao.impl.TaskDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="reportDao" class="com.tang.dao.impl.ReportDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<!-- Service -->
	<bean id="userService" class="com.tang.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="reportService" class="com.tang.service.impl.ReportServiceImpl">
		<property name="reportDao" ref="reportDao"></property>
	</bean>
	
	<bean id="taskService" class="com.tang.service.impl.TaskServiceImpl">
		<property name="taskDao" ref="taskDao"></property>
	</bean>
	
	
	<!-- Action -->
	<bean id="userAction" class="com.tang.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="reportAction" class="com.tang.action.ReportAction" scope="prototype">
		<property name="reportService" ref="reportService"></property>
	</bean>
	
	<bean id="taskAction" class="com.tang.action.TaskAction" scope="prototype">
		<property name="taskService" ref="taskService"></property>
	</bean>
</beans>